* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }
  
/* End of css reset */

body {
    background: #f8f7f3;
    font-family: 'Overpass', sans-serif;
}

header {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #1a24fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    color: #f8f7f3;
    padding: 0 10px;
    font-weight: 400;
    margin-bottom: 60px;
    left: 0;
    top: 0;
}

header h1 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

header div span.material-symbols-outlined {
    font-size: 24px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    row-gap: 100px;
    column-gap: 20px;
    justify-content: center;
    margin: 30px auto;
}

.card {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    row-gap: 100px;
    column-gap: 20px;
    justify-content: center;
    margin: 120px auto;
    padding: 40px;
    position: relative;
    width: 400px;
    background-color: #f8f7f3;
    color: #1a24fb;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    border: solid 2px #1a24fb;
}

@media screen and (max-width: 850px) {
    #card {
      grid-template-columns: auto;
      grid-column-gap: 100px;
    }
  }


.list-item .author {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.list-item .title {
    font-size: 36px;
    font-weight: 700;
    min-height: 100px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.list-item .text{
    font-size: 16px;
    font-weight: 400;
    min-height: 180px;
}


@media screen and (max-width: 950px) {
    #main {
      grid-template-columns: auto;
      grid-column-gap: 100px;
    }
}

.main .card .number-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: 700;
    background-color: #f8f7f3;
    color: #1a24fb;
    text-align: center;
}

button.read-more-button {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 18px;
    color: #1a24fb;
    padding-right: 5px;
    font-size: 14px;
    bottom: 0;
    transform: translateY(30px);
}

button.read-more-button:hover {
    background-color: #1a24fb;
    color: #f8f7f3;
    
  }
  
button span.material-symbols-outlined {
    font-size: 18px;
    margin-left: 35px;
}
